<div class="">
<button onclick="getPostForm(show-form)" id="create-post">Write a new post</button>
<div id="show-form" data-state="hidden">
{{#if data-state="hidden"}}
  {{>dashboard-details}}
{{else }}
{{>new-post}}
{{/if}}
</div>

</div>

<script src="/public/js/createPost.js"></script>